.bash_history
.bash_logout
.bashrc
.cache
.ccm
.compiz
.config/Thunar
.config/VirtualBox/
.config/compiz-1/
.config/dconf/
.config/evolution/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/
.config/libaccounts-glib/
.config/menus/
.config/mimeapps.list
.config/monitors.xml
.config/nautilus/
.config/pavucontrol.ini
.config/pulse/
.config/spotify/Users/sixor-user/ad-state-storage.bnk
.config/spotify/Users/sixor-user/local-files.bnk
.config/spotify/Users/sixor-user/pending-messages
.config/spotify/Users/sixor-user/pending-messages_seq_nr
.config/spotify/Users/sixor-user/player-state
.config/spotify/Users/sixor-user/recently_played.bnk
.config/spotify/Users/sixor-user/social_manager.bnk
.config/spotify/Users/sixor-user/watch-sources.bnk
.config/spotify/User\ Data/
.config/spotify/prefs
.config/spotify/window_position.prefs
.config/unity/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.dbus
Desktop
.dmrc
Documents
Downloads
examples.desktop
.fehbg
.fonts
.gconfg
git
.gnome
.gnome2
.gnome2_private
.gnupg
.ICAClient/
.ICEauthority
.IdeaIC2016.3/
.IdeaIC2017.3/
.IntelliJIdea2016.3
.java
.kube/
.lesshst
.local
.m2
.minikube/
.mozilla
Music
.nv
.nvidia-settings-rc
.oracle_jre_usage
partial
Pictures
.pki
.profile
Public
.pulse-cookie
.steam
.steampath
.steampid
.sudo_as_admin_successful
.synaptic/
Templates
Videos
.vim/.netrwhist
.viminfo
workspace
.Xauthority
.xsession-errors
.xsession-errors.old
